<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Student Manager</title>
        <meta charset="UTF-8"/>
        <link  type="text/css" th:href="@{/style.css}" rel="stylesheet"/>
        
    </head>
    <body> 
        <div id="tab_div" >
            <h2 id="page_title">Edit</h2>
            <a href="/new_student">Add</a>
            <a href="/home">Home</a>
        </div>
        
        <div id="add_form">
            <form action="#" th:action="@{/update}" th:object="${student}">
                <table border="0" cellpadding="10">
                    
                    <tr>
                        <td>Student Id:</td>
                        <td><input type="text" th:field="*{student_id}" name="student_id" id="student_id" readonly="readonly"/></td>
                    </tr>
                    
                    <tr>
                        <td>First Name:</td>
                        <td><input type="text" th:field="*{first_name}" name="first_name" id="first_name" required="required"  minlength="2" maxlength="30"/></td>
                    </tr>
                    
                    <tr>
                        <td>Last Name:</td>
                        <td><input type="text" th:field="*{last_name}" name="last_name" id="last_name" required="required"  minlength="2" maxlength="30"/></td>
                    </tr>
                    
                    <tr>
                        <td>Gender:</td>
                        <td>
                            <select th:field="*{gender}" name="gender" id="gender">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="O">Other</option>
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Country Code:</td>
                        <td><input th:field="*{country_code}" type="text" name="country_code" id="country_code" required="required" minlength="1" maxlength="5"/></td>
                    </tr>
                    
                    <tr>
                        <td>Contact Number:</td>
                        <td><input type="text" th:field="*{contact_no}" name="contact_no" id="contact_no" required="required" minlength="10" maxlength="10" /></td>
                    </tr>
                    
                    <tr>
                        <td>House Number:</td>
                        <td><input type="text" th:field="*{house_no}" name="house_no" id="house_no" required="required" minlength="1" maxlength="10"/></td>
                    </tr>
                    
                    <tr>
                        <td>Postcode:</td>
                        <td><input type="text" th:field="*{postcode}" name="postcode" id="postcode" required="required" minlength="6" maxlength="10"/></td>
                    </tr>
                    
                    <tr>
                        <td>Course:</td>
                        <td>
                            <select th:field="*{course_id}" name="course_id" id="course_id">
                                <option th:each="course : ${courses}" th:value="${course.course_id}" th:text="${course.course_description + ' ' + course.course_name}"/>
                            </select>
                            
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Status:</td>
                        <td>
                            <select th:field="*{graduated}" name="graduated" id="graduated">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td colspan="2"><input id="button_input" type="submit" value="Submit"/></td>
                    </tr>
                </table>
                
            </form>
        </div>
    </body>
</html>
