<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Student Manager</title>
        <meta charset="UTF-8"/>
        <link  type="text/css" th:href="@{/style.css}" rel="stylesheet"/>
    </head>
    <body>
        
        <div id="tab_div" >
            <h2 id="page_title" th:text="${error}"/>
            <a href="/logout" id="nav_logout">Logout</a>
            <a href="/add" class="nav_a">Add</a>
            <a href="/home" class="nav_a">Home</a>
        </div>

        <div id="div_form">
            <table border="0" cellpadding="10">
                    <tr>
                        <td class="custom_error">404:</td>
                        <td class="custom_error">That page could not be found!</td>
                    </tr>

                    
                </table>
        </div>
    </body>
</html>
