<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Student Manager</title>
        <meta charset="UTF-8"/>
        <link  type="text/css" th:href="@{/style.css}" rel="stylesheet"/>
    </head>
    <body>

        <div id="div_form">
            <p id="custom_error"> 500: Something went wrong! </p>
            <a href="/logout" id="button_input">Redirect</a>
        </div>
    </body>
</html>
